@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Roboto+Mono:ital@0;1&family=Roboto:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("background.jpg");
}

header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    background-color: transparent;
    backdrop-filter: blur(8px);
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    color: #FEFBF6;
    text-shadow: 4px 4px 13px rgba(239, 255, 11, 0.994);
    border-radius: 0 0 50px 50px;
    
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    align-items: center;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    color: #FEFBF6;
    text-shadow: 4px 4px 13px rgba(239, 255, 11, 0.994);
    border-radius: 5%;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border-radius: 50px 50px 0px 0px;
  
}



.logo {
    padding: 10px;
}

header h1 {
    letter-spacing: 5px;
}

header nav {
    margin: auto;
    width: 50%;

  
}

header nav ul li, footer nav ul li{
    display: inline;
    font-weight: bold;
    margin: 0 25px;
    
}

header nav ul li a, footer nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #FEFBF6;

}

.book a {
    text-decoration: none;
}

main {
    width: 80%;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.category, .sub_category {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.category h2, .sub_category h2, form h1 {
    color: #A6D1E6;
    font-size: 50px;
    text-shadow: 0px 0px 20px rgb(77, 6, 242);
}

.book {
    padding: 10px;

}

.book img{
    height: 500px;
    width: 300px;
    margin: 0 25px;
    box-shadow: 0px 0px 40px 20px rgb(46, 98, 239);
    object-fit: cover;
}

.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    text-align: center;
    width: fit-content;
    margin-bottom: 30px;
}

.breadcrumb li {
    display: inline;
    font-size: 20px;
}


.breadcrumb li + li::before {
    color: rgb(253, 6, 171);
    content: ">\00a0";
    font-weight: bolder;

}

.breadcrumb li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 80, 17);
    font-size: 25px;
    
    
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    color: #FEFBF6;
    
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#additionalImage {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 10px;
    
}

#bookImage img {
    height: 700px;
    width: 400px;
    object-fit: fill;
    padding: 0;
    box-shadow: 0px 0px 40px 20px rgb(109, 240, 129);
}

#additionalImage img {
    height: 100px;
    width: 300px;
    border: 2px solid black;
    margin-top: 10px; 
    object-fit: cover;
    
}

.price {
    margin: auto;
    height: 350px;
    width: 350px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FEFBF6;
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    border-radius: 50%;   
    box-shadow: rgba(27, 5, 110, 0.492) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.price h1 {
    font-size: 75px;
    margin-bottom: 20px;
    color: #A6D1E6;
    text-shadow: 0 2px 5px black;

}



.price button {
    padding: 20px;
    font-family: inherit;
    font-size: 25px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 0px 40px 12px rgb(249, 249, 3);

    color:rgb(133, 244, 255); 
    text-shadow: 0 2px 5px black;
    cursor: pointer;


}

form button {
    font-family: inherit;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    background: linear-gradient(19deg,#1a46ff 0%, #c029ee 80%);
    background: -webkit-linear-gradient(19deg,#1a46ff 0%, #c029ee 80%);
    background: -moz-linear-gradient(19deg,#1a46ff 0%, #c029ee 80%);
    color:rgb(133, 244, 255); 
    border-radius: 5px;

}

.price button:hover, form button:hover{
    transform: scale(0.98);
    
    
}

.display p {
    margin-top: 20px;
    font-size: 30px;
}


.displayForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
    font-size: large;
    color: #FEFBF6;
    box-shadow: 0px 0px 40px 20px rgb(239, 46, 197);
    border-radius: 5%;
    text-align: center;

}

form div {
    margin: 3.5px;
    width: 95%;
}



form div input {
    padding: 5px;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio {
    text-align: center;
}

form input:focus {
    outline: none;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px;
    outline: none;
}

.note textarea {
    width: 100%;
}

/* Responsive */
/* Mobile */
@media only screen and (max-width: 1390px) {
    .book a img {
        width: 250px;
    }
    .headNav, .footNav {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #additionalImage {
        display: inline;
    }
    #additionalImage img{ 
        max-width: 200px;
        height: 500px;

    }
}

@media only screen and (max-width: 1200px) {
    .book a img {
        width: 200px;
        height: 400px;
    }
}


@media only screen and (max-width: 1010px) {
    .book a img {
        width: 300px;
        height: 500px;
    }

    header {
        font-size: 13px;
    }
    .headNav, .footNav {
        display: flex;
        flex-direction: column;
    }

    .book {
        display: flex;
        flex-direction: column;
    }

    .display {
        height: max-content;
        margin-bottom: 200px;
    
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .price {
        margin: auto;
    }

    .display p {
        font-size: 20px;
    }
    


    #additionalImage {
        display: inline;
    }
    #additionalImage img{ 
        max-width: 200px;
        height: 500px;

    }

    form div {
        display: flex;
        flex-direction: column;
        font-size: smaller;
        width: 80%;
    }

    form .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form .btn button {
        margin: 5px 0;
    }

    form .radio{
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .category h2, .sub_category h2 {
        font-size: 20px;
    }
    #additionalImage img{ 
        max-width: 130px;
    }
    header, footer {
        font-size: 10px;
        border-radius: 3px;
    }
}

@media only screen and (max-width: 525px) {
    #additionalImage img{ 
        max-width: 100px;
    }
   
}


@media only screen and (max-height: 800px) {
    

    header, footer {
        position: static;
    }

    form {
        overflow: hidden;
    }


    form h1 {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
    form div input {
        height: 20px;
    }
    form div {
        font-size: 15px;
        
        padding: 0;
    }
    form .radio  {
        display: flex;
        flex-direction: row;
    }

    .note {
        display: inline;
    }
    textarea {
        height: 20px;
    }
    form .btn {
        margin: 0;
        padding: 0;
    }

    

 

    form .btn button {
        padding: 2px 0;
        width: 20%;
        font-size: smaller;
        
    }
}
